@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #828282;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: 400;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 7.1875rem;
}

body {
  background-color: #FFFAF5;
  font-weight: 400;
  line-height: 1.5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  width: 10rem;
  height: 3rem;
  display: inline-block;
}

.page-button {
  width: 7.75rem;
  height: 2.75rem;
  border: 1px solid #F87661;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F87661;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 600;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-title {
  font-weight: 700;
}

.hidden {
  display: none;
}

.section-title {
  line-height: 1.3333333333;
  font-weight: 600;
  color: #333333;
}

.header {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  min-height: 6.5rem;
  background-color: #FFFAF5;
  z-index: 1;
}

.header__wrapper {
  min-height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__logo {
  margin-left: -0.9375rem;
  margin-right: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.menu-open .menu__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-open .menu__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.menu__link {
  font-weight: 600;
  line-height: 1.375;
  color: #5A5A5A;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .menu__link {
  color: #FFFFFF;
}

.arrow {
  width: 1.25rem;
  height: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.arrow svg {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #5A5A5A;
}

.menu-open .arrow {
  margin-top: 0.3125rem;
}

.menu-open .arrow svg {
  stroke: #FFFFFF;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.submenu {
  position: absolute;
  top: 0;
  margin-top: 1.25rem;
  display: none;
  cursor: pointer;
  z-index: 1;
  background-color: #FFFAF5;
  min-width: 6.25rem;
  padding: 0.625rem;
}

.submenu__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.submenu__link {
  font-weight: 600;
  line-height: 1.375;
  color: #5A5A5A;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .submenu__link {
  color: #FFFFFF;
}

.menu-open .submenu {
  background-color: inherit;
  margin-top: 0;
  padding-top: 0;
  left: 6.25rem;
}

body.mouse .menu__item:hover > .menu__link {
  color: #F87661;
}

body.mouse .menu__item:hover > .submenu {
  display: block;
}

body.mouse .menu__item:hover > .arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.touch .submenu.open {
  display: block;
}

body.touch .arrow.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon-menu {
  display: none;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem 0.625rem;
}

.footer__text {
  font-weight: 400;
  line-height: 1.5;
  max-width: 21.3125rem;
}

.footer__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.415625rem;
     -moz-column-gap: 2.415625rem;
          column-gap: 2.415625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

.social__link svg {
  fill: #F87661;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.menu-footer {
  color: #5A5A5A;
}

.menu-footer__title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}

.menu-footer__list-link {
  line-height: 1.5;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-hero {
  padding-top: 6.5rem;
}

.hero__wrapper {
  padding: 2.375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero__title {
  line-height: 1.2307692308;
  font-weight: 700;
  color: #333333;
  max-width: 26.875rem;
}

.hero__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.hero__text {
  max-width: 29.375rem;
}

.hero__text:not(:last-child) {
  margin-bottom: 2.125rem;
}

.hero__img {
  max-width: 17.4375rem;
  border-radius: 12.5rem;
  overflow: hidden;
  background-color: rgba(248, 118, 97, 0.2);
}

.hero__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 0.62/1;
}

.hero__img--small {
  max-width: 12.125rem;
}

.testimoni {
  padding: 4rem 0;
}

.no-webp .testimoni__wrapper{
  background: url(../img/testimoni/02.png), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 150, 133)), to(rgb(248, 118, 97)));
  background: url(../img/testimoni/02.png), linear-gradient(180deg, rgb(255, 150, 133), rgb(248, 118, 97) 100%); }

.testimoni__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.875rem;
  color: #FFFFFF;
  position: relative;
}

.testimoni__wrapper::after {
  content: "";
  display: inline-block;
  height: 12.25rem;
  border-radius: 1rem;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  background: rgb(248, 118, 97);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  bottom: -15%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.testimoni__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 1.875rem);
          flex: 0 0 calc(50% - 1.875rem);
}

.info-testimoni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-testimoni__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-testimoni__name {
  line-height: 1.5;
  font-weight: 400;
}

.info-testimoni__name:not(:last-child) {
  margin-bottom: 0.25rem;
}

.info-testimoni__number {
  line-height: 1.2222222222;
  font-weight: 600;
}

.block-testimoni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.875rem;
  position: relative;
}

.block-testimoni::before {
  content: "";
  width: 1px;
  height: 4.625rem;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.block-testimoni__img {
  border-radius: 50%;
  overflow: hidden;
  min-width: 6.5rem;
  height: 6.5rem;
  background-color: #FEE4DF;
}

.block-testimoni__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-testimoni__autor {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  font-style: normal;
}

.block-testimoni__autor:not(:last-child) {
  margin-bottom: 0.375rem;
}

.block-testimoni__text {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.services {
  padding-bottom: 4rem;
}

.services:not(:last-child) {
  margin-bottom: 4rem;
}

.services__title {
  text-align: center;
}

.services__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.services__text {
  text-align: center;
  line-height: 1.5;
  max-width: 32.3125rem;
  margin: 0 auto;
}

.cards-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 2.875rem 1.5625rem 1.5625rem;
  background: #FEE4DF;
  border-radius: 1.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.5rem 1fr;
  grid-template-columns: 6.5rem 1fr;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  row-gap: 0.875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.cards-services__item::after {
  content: "";
  display: none;
  width: 75%;
  height: 12.25rem;
  border-radius: 1rem;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  background: rgb(248, 118, 97);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  bottom: -5%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cards-services__img {
  -ms-grid-row-span: 3;
  grid-row: span 3;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background-color: #FDD1CA;
  overflow: hidden;
}

.cards-services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-services__title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  color: #5A5A5A;
  margin-top: 0.9375rem;
}

.cards-services__text {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #5A5A5A;
}

.cards-services__btn {
  width: 5.0625rem;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
  background-color: #CF6251;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 600;
  color: #FFFFFF;
}

.instruction:not(:last-child) {
  margin-bottom: 4rem;
}

.instruction__wrapper {
  padding: 3rem 0 4.625rem;
  border-top: 1px solid #FEE4DF;
  border-bottom: 1px solid #FEE4DF;
  text-align: center;
  position: relative;
}

.instruction__text {
  line-height: 1.5;
  max-width: 32.3125rem;
  margin: 0 auto;
}

.instruction__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.instruction__link {
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1.2222222222;
  font-weight: 600;
  color: #333333;
  max-width: 32.8125rem;
  margin: 0 auto;
}

.figure__ellipse {
  display: inline-block;
  width: 10.3125rem;
  height: 7.6875rem;
  border-radius: 6.25rem;
  background-color: #FFCA0F;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.figure__circle {
  display: inline-block;
  width: 7.6875rem;
  height: 7.6875rem;
  border-radius: 50%;
  background-color: #D9E4E2;
  border: 3px solid #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.figure__circle--one {
  right: 0;
  z-index: -1;
}

.figure__circle--two {
  right: 4.4375rem;
  z-index: -2;
}

.about__wrapper {
  background-color: #D9E4E2;
  border-radius: 3.125rem;
  padding: 2.75rem 5.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17.4375rem;
  grid-template-columns: 1fr 17.4375rem;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  gap: 1.25rem;
}

.about__title {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  max-width: 17.6875rem;
}

.about__text {
  max-width: 32.3125rem;
}

.about__img {
  grid-column: 2/-1;
  grid-row: 1/-1;
  max-width: 17.4375rem;
  border-radius: 12.5rem;
  overflow: hidden;
  background: rgb(248, 118, 97);
  opacity: 0.7;
}

.about__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 0.62/1;
}

.list-about__item {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  color: #333333;
  position: relative;
}

.list-about__item::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon/square.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.458125rem;
  height: 1.458125rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.list-about__item:not(:last-child) {
  margin-bottom: 1.125rem;
}

.no-webp .entry{
  background: url(../img/entry/01.png), -webkit-gradient(linear, left top, left bottom, from(rgb(93, 147, 136)), to(rgb(66, 118, 108)));
  background: url(../img/entry/01.png), linear-gradient(180deg, rgb(93, 147, 136), rgb(66, 118, 108) 100%); }

.entry {
  background-repeat: no-repeat;
  background-size: cover;
}

.entry__title {
  color: #FFFFFF;
  max-width: 31.25rem;
}

.entry__title:not(:last-child) {
  margin-bottom: 2.125rem;
}

.entry__text {
  color: #FFFFFF;
  max-width: 32.3125rem;
}

.entry__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.news__title {
  text-align: center;
}

.news__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.news__text {
  max-width: 32.3125rem;
  margin: 0 auto;
  text-align: center;
}

.articles-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.25rem;
}

.articles-cards__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 2.25rem);
          flex: 0 0 calc(33.333% - 2.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-cards__img {
  width: 100%;
  background-color: #D7BFB8;
  border-radius: 1.875rem;
  overflow: hidden;
}

.articles-cards__img:not(:last-child) {
  margin-bottom: 1.125rem;
}

.articles-cards__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 0.78/1;
}

.articles-cards__title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  color: #5A5A5A;
}

.articles-cards__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.articles-cards__text {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #5A5A5A;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.articles-cards__text:not(:last-child) {
  margin-bottom: 1.125rem;
}

.articles-cards__btn {
  width: 6.6875rem;
  height: 2.75rem;
  padding: 0.3125rem;
  background-color: #CF6251;
  color: #FFFFFF;
  border-radius: 0.375rem;
  border: 3px solid #FDD1CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.follow__title {
  text-align: center;
}

.follow__title span {
  color: #F87661;
}

.follow__title:not(:last-child) {
  margin-bottom: 3.5rem;
}

.cards-follow {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.4375rem, auto));
  grid-auto-rows: 10.3125rem;
  grid-auto-flow: dense;
  gap: 2.25rem 2.125rem;
}

.cards-follow__item {
  border-radius: 2.5rem;
  overflow: hidden;
}

.cards-follow__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-follow__item--big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

@media (min-width: 69.375em) {
  .section-title {
    font-size: 3rem;
  }

  .footer {
    padding-top: 6.375rem;
  }

  .footer {
    padding-bottom: 4.875rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu-footer__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu-footer__list-item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .hero__title {
    font-size: 3.25rem;
  }

  .testimoni__wrapper {
    gap: 1.875rem;
  }

  .testimoni__wrapper {
    padding: 2.875rem;
  }

  .testimoni__wrapper::after {
    width: 52.9375rem;
  }

  .info-testimoni__number {
    font-size: 2.25rem;
  }

  .block-testimoni {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .services {
    padding-top: 4.625rem;
  }

  .services__text:not(:last-child) {
    margin-bottom: 4.625rem;
  }

  .cards-services {
    -webkit-column-gap: 2.375rem;
       -moz-column-gap: 2.375rem;
            column-gap: 2.375rem;
  }

  .cards-services__item {
    width: 30.1875rem;
  }

  .cards-services__item {
    padding-top: 2.875rem;
  }

  .cards-services__item {
    -webkit-column-gap: 1.625rem;
       -moz-column-gap: 1.625rem;
            column-gap: 1.625rem;
  }

  .about:not(:last-child) {
    margin-bottom: 12.3125rem;
  }

  .list-about__item {
    padding-left: 2.458125rem;
  }

  .entry {
    padding-top: 6.3125rem;
  }

  .entry {
    padding-bottom: 5.6875rem;
  }

  .entry:not(:last-child) {
    margin-bottom: 7.5625rem;
  }

  .news {
    padding-top: 4rem;
  }

  .news {
    padding-bottom: 4rem;
  }

  .news__text:not(:last-child) {
    margin-bottom: 4.625rem;
  }

  .articles-cards__img {
    height: 16.3125rem;
  }

  .follow {
    padding: 4rem;
  }
}

@media (max-width: 20em) {
  .section-title {
    font-size: 2.25rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu-footer__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu-footer__list-item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .hero__title {
    font-size: 2.25rem;
  }

  .testimoni__wrapper {
    gap: 0.9375rem;
  }

  .testimoni__wrapper {
    padding: 1.875rem;
  }

  .testimoni__wrapper::after {
    width: 20rem;
  }

  .info-testimoni__number {
    font-size: 1.5rem;
  }

  .block-testimoni {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .cards-services {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .cards-services__item {
    width: 17.5rem;
  }

  .cards-services__item {
    padding-top: 1.5625rem;
  }

  .cards-services__item {
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }

  .about:not(:last-child) {
    margin-bottom: 4rem;
  }

  .list-about__item {
    padding-left: 1.5625rem;
  }

  .entry {
    padding-top: 1.875rem;
  }

  .entry {
    padding-bottom: 1.875rem;
  }

  .entry:not(:last-child) {
    margin-bottom: 4rem;
  }

  .news {
    padding-top: 1.875rem;
  }

  .news {
    padding-bottom: 1.875rem;
  }

  .news__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .articles-cards__img {
    height: 11.25rem;
  }

  .follow {
    padding: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 0.625rem);
            flex: 0 0 calc(50% - 0.625rem);
    text-align: center;
  }

  .footer__text {
    margin: 0 auto;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__img--small {
    display: none;
  }

  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.875rem;
  }

  .about__title {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .about__img {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__logo {
    margin-right: 0;
  }

  .header__menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: auto;
  }

  .menu__list {
    position: absolute;
    top: 0;
    left: -200%;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #5A5A5A;
    z-index: 2;
    padding: 5rem 5rem;
    overflow-x: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__list {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #FFFFFF;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }

  .menu-footer__title {
    position: relative;
  }

  .menu-footer__title::after {
    content: url(../img/icon/arrow.svg);
    margin-left: 0.625rem;
  }

  .menu-footer__list {
    display: none;
  }

  .menu-footer__list.open {
    display: block;
  }

  .hero__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .hero__img {
    display: none;
  }

  .testimoni__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
  }

  .testimoni__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }

  .block-testimoni {
    padding-left: 0;
  }

  .block-testimoni::before {
    width: 100%;
    height: 1px;
    top: -0.625rem;
  }

  .cards-services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 0.875rem;
    padding: 0.9375rem;
  }

  .cards-services__title {
    margin-top: 0;
  }

  .articles-cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2.25rem);
            flex: 0 0 calc(50% - 2.25rem);
  }

  .cards-follow__item--big {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
}

@media (max-width: 31.875em) {
  .info-testimoni {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-testimoni {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    text-align: center;
  }

  .list-about__item::before {
    top: 0.3125rem;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .articles-cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 20em) and (max-width: 69.375em) {
@supports (font-size: clamp( 2.25rem , 1.9462025316rem  +  1.5189873418vw , 3rem )) {
    .section-title {
      font-size: clamp( 2.25rem , 1.9462025316rem  +  1.5189873418vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9462025316rem  +  1.5189873418vw , 3rem )) {
    .section-title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.9303797468rem  +  7.8481012658vw , 6.375rem )) {
    .footer {
      padding-top: clamp( 2.5rem , 0.9303797468rem  +  7.8481012658vw , 6.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.9303797468rem  +  7.8481012658vw , 6.375rem )) {
    .footer {
      padding-top: calc(2.5rem + 3.875 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5379746835rem  +  4.8101265823vw , 4.875rem )) {
    .footer {
      padding-bottom: clamp( 2.5rem , 1.5379746835rem  +  4.8101265823vw , 4.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5379746835rem  +  4.8101265823vw , 4.875rem )) {
    .footer {
      padding-bottom: calc(2.5rem + 2.375 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
    .footer__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
    .footer__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
    .menu-footer__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4905063291rem  +  3.7974683544vw , 3.125rem )) {
    .menu-footer__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.684335443rem  +  1.2658227848vw , 1.5625rem )) {
    .menu-footer__list-item:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.684335443rem  +  1.2658227848vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.684335443rem  +  1.2658227848vw , 1.5625rem )) {
    .menu-footer__list-item:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 49.375);
    }
}

@supports (font-size: clamp( 2.25rem , 1.8449367089rem  +  2.0253164557vw , 3.25rem )) {
    .hero__title {
      font-size: clamp( 2.25rem , 1.8449367089rem  +  2.0253164557vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.8449367089rem  +  2.0253164557vw , 3.25rem )) {
    .hero__title {
      font-size: calc(2.25rem + 1 * (100vw - 20rem) / 49.375);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5577531646rem  +  1.8987341772vw , 1.875rem )) {
    .testimoni__wrapper {
      gap: clamp( 0.9375rem , 0.5577531646rem  +  1.8987341772vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5577531646rem  +  1.8987341772vw , 1.875rem )) {
    .testimoni__wrapper {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding: clamp( 1.875rem , 1.4699367089rem  +  2.0253164557vw , 2.875rem )) {
    .testimoni__wrapper {
      padding: clamp( 1.875rem , 1.4699367089rem  +  2.0253164557vw , 2.875rem );
    }
}

@supports not (padding: clamp( 1.875rem , 1.4699367089rem  +  2.0253164557vw , 2.875rem )) {
    .testimoni__wrapper {
      padding: calc(1.875rem + 1 * (100vw - 20rem) / 49.375);
    }
}

@supports (width: clamp( 20rem , 6.6582278481rem  +  66.7088607595vw , 52.9375rem )) {
    .testimoni__wrapper::after {
      width: clamp( 20rem , 6.6582278481rem  +  66.7088607595vw , 52.9375rem );
    }
}

@supports not (width: clamp( 20rem , 6.6582278481rem  +  66.7088607595vw , 52.9375rem )) {
    .testimoni__wrapper::after {
      width: calc(20rem + 32.9375 * (100vw - 20rem) / 49.375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1962025316rem  +  1.5189873418vw , 2.25rem )) {
    .info-testimoni__number {
      font-size: clamp( 1.5rem , 1.1962025316rem  +  1.5189873418vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1962025316rem  +  1.5189873418vw , 2.25rem )) {
    .info-testimoni__number {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 49.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem )) or (column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem ))) {
    .block-testimoni {
      -webkit-column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem );
         -moz-column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem );
              column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem )) or (column-gap: clamp( 0.9375rem , 0.4058544304rem  +  2.6582278481vw , 2.25rem ))) {
    .block-testimoni {
      -webkit-column-gap: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 49.375);
         -moz-column-gap: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 49.375);
              column-gap: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem )) {
    .services {
      padding-top: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem )) {
    .services {
      padding-top: calc(1.875rem + 2.75 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem )) {
    .services__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem )) {
    .services__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.75 * (100vw - 20rem) / 49.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem )) or (column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem ))) {
    .cards-services {
      -webkit-column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem );
         -moz-column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem );
              column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem )) or (column-gap: clamp( 0.9375rem , 0.355221519rem  +  2.9113924051vw , 2.375rem ))) {
    .cards-services {
      -webkit-column-gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 49.375);
         -moz-column-gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 49.375);
              column-gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 49.375);
    }
}

@supports (width: clamp( 17.5rem , 12.3607594937rem  +  25.6962025316vw , 30.1875rem )) {
    .cards-services__item {
      width: clamp( 17.5rem , 12.3607594937rem  +  25.6962025316vw , 30.1875rem );
    }
}

@supports not (width: clamp( 17.5rem , 12.3607594937rem  +  25.6962025316vw , 30.1875rem )) {
    .cards-services__item {
      width: calc(17.5rem + 12.6875 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0308544304rem  +  2.6582278481vw , 2.875rem )) {
    .cards-services__item {
      padding-top: clamp( 1.5625rem , 1.0308544304rem  +  2.6582278481vw , 2.875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0308544304rem  +  2.6582278481vw , 2.875rem )) {
    .cards-services__item {
      padding-top: calc(1.5625rem + 1.3125 * (100vw - 20rem) / 49.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem )) or (column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem ))) {
    .cards-services__item {
      -webkit-column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem );
         -moz-column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem );
              column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem )) or (column-gap: clamp( 0.875rem , 0.5712025316rem  +  1.5189873418vw , 1.625rem ))) {
    .cards-services__item {
      -webkit-column-gap: calc(0.875rem + 0.75 * (100vw - 20rem) / 49.375);
         -moz-column-gap: calc(0.875rem + 0.75 * (100vw - 20rem) / 49.375);
              column-gap: calc(0.875rem + 0.75 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 4rem , 0.6329113924rem  +  16.835443038vw , 12.3125rem )) {
    .about:not(:last-child) {
      margin-bottom: clamp( 4rem , 0.6329113924rem  +  16.835443038vw , 12.3125rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 0.6329113924rem  +  16.835443038vw , 12.3125rem )) {
    .about:not(:last-child) {
      margin-bottom: calc(4rem + 8.3125 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.1997151899rem  +  1.8139240506vw , 2.458125rem )) {
    .list-about__item {
      padding-left: clamp( 1.5625rem , 1.1997151899rem  +  1.8139240506vw , 2.458125rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.1997151899rem  +  1.8139240506vw , 2.458125rem )) {
    .list-about__item {
      padding-left: calc(1.5625rem + 0.895625 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.0775316456rem  +  8.9873417722vw , 6.3125rem )) {
    .entry {
      padding-top: clamp( 1.875rem , 0.0775316456rem  +  8.9873417722vw , 6.3125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.0775316456rem  +  8.9873417722vw , 6.3125rem )) {
    .entry {
      padding-top: calc(1.875rem + 4.4375 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3306962025rem  +  7.7215189873vw , 5.6875rem )) {
    .entry {
      padding-bottom: clamp( 1.875rem , 0.3306962025rem  +  7.7215189873vw , 5.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3306962025rem  +  7.7215189873vw , 5.6875rem )) {
    .entry {
      padding-bottom: calc(1.875rem + 3.8125 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.5569620253rem  +  7.2151898734vw , 7.5625rem )) {
    .entry:not(:last-child) {
      margin-bottom: clamp( 4rem , 2.5569620253rem  +  7.2151898734vw , 7.5625rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.5569620253rem  +  7.2151898734vw , 7.5625rem )) {
    .entry:not(:last-child) {
      margin-bottom: calc(4rem + 3.5625 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem )) {
    .news {
      padding-top: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem )) {
    .news {
      padding-top: calc(1.875rem + 2.125 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem )) {
    .news {
      padding-bottom: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem )) {
    .news {
      padding-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 49.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem )) {
    .news__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7610759494rem  +  5.5696202532vw , 4.625rem )) {
    .news__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.75 * (100vw - 20rem) / 49.375);
    }
}

@supports (height: clamp( 11.25rem , 9.1993670886rem  +  10.253164557vw , 16.3125rem )) {
    .articles-cards__img {
      height: clamp( 11.25rem , 9.1993670886rem  +  10.253164557vw , 16.3125rem );
    }
}

@supports not (height: clamp( 11.25rem , 9.1993670886rem  +  10.253164557vw , 16.3125rem )) {
    .articles-cards__img {
      height: calc(11.25rem + 5.0625 * (100vw - 20rem) / 49.375);
    }
}

@supports (padding: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem )) {
    .follow {
      padding: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem );
    }
}

@supports not (padding: clamp( 1.875rem , 1.0142405063rem  +  4.3037974684vw , 4rem )) {
    .follow {
      padding: calc(1.875rem + 2.125 * (100vw - 20rem) / 49.375);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 67.5em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem )) or (column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem ))) {
    .header__wrapper {
      -webkit-column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem );
         -moz-column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem );
              column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem )) or (column-gap: clamp( 1.25rem , -6.1014376997rem  +  15.3354632588vw , 4.25rem ))) {
    .header__wrapper {
      -webkit-column-gap: calc(1.25rem + 3 * (100vw - 47.9375rem) / 19.5625);
         -moz-column-gap: calc(1.25rem + 3 * (100vw - 47.9375rem) / 19.5625);
              column-gap: calc(1.25rem + 3 * (100vw - 47.9375rem) / 19.5625);
    }
}
}

@media (min-width: 61.875em) and (max-width: 67.5em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem )) or (column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem ))) {
    .hero__wrapper {
      -webkit-column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem );
         -moz-column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem );
              column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem )) or (column-gap: clamp( 0.9375rem , -20.375rem  +  34.4444444444vw , 2.875rem ))) {
    .hero__wrapper {
      -webkit-column-gap: calc(0.9375rem + 1.9375 * (100vw - 61.875rem) / 5.625);
         -moz-column-gap: calc(0.9375rem + 1.9375 * (100vw - 61.875rem) / 5.625);
              column-gap: calc(0.9375rem + 1.9375 * (100vw - 61.875rem) / 5.625);
    }
}
}

@media (any-hover: hover) {
  .page-button:hover {
    background-color: #FFFAF5;
    color: #F87661;
  }

  .submenu__link:hover {
    color: #F87661;
  }

  .social__link svg:hover {
    fill: #5A5A5A;
  }

  .menu-footer__list-link:hover {
    color: #F87661;
  }

  .cards-services__item:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 150, 133)), to(rgb(248, 118, 97)));
    background: linear-gradient(180deg, rgb(255, 150, 133), rgb(248, 118, 97) 100%);
  }

  .cards-services__item:hover .cards-services__title,
  .cards-services__item:hover .cards-services__text {
    color: #FFFFFF;
  }

  .cards-services__item:hover::after {
    display: inline-block;
  }

  .news__title:hover {
    text-decoration: underline;
  }

  .articles-cards__btn:hover {
    background-color: inherit;
    color: #CF6251;
  }
}

.webp .testimoni__wrapper{ background: url(../img/testimoni/02.webp), -webkit-gradient(linear, left top, left bottom, from(rgb(255, 150, 133)), to(rgb(248, 118, 97))); background: url(../img/testimoni/02.webp), linear-gradient(180deg, rgb(255, 150, 133), rgb(248, 118, 97) 100%); }

.webp .entry{ background: url(../img/entry/01.webp), -webkit-gradient(linear, left top, left bottom, from(rgb(93, 147, 136)), to(rgb(66, 118, 108))); background: url(../img/entry/01.webp), linear-gradient(180deg, rgb(93, 147, 136), rgb(66, 118, 108) 100%); }